<link href="/css/main.css" rel="stylesheet" type="text/css">
<link href="/css/w3.css" rel="stylesheet" type="text/css">
<main>
<div class="w3-bar w3-medium">
    <a href="/"  class="w3-bar-item w3-xxlarge">LOGO</a>
    <a href="/accounts/register"  class="w3-bar-item w3-button w3-hover-none w3-hover-text-white w3-right">Register</a>
    <a href="/accounts/login"  class="w3-bar-item w3-button w3-hover-none w3-hover-text-white w3-right">Login</a>
</div>
<div class="w3-panel w3-display-middle">
    <p class="w3-xxlarge  w3-serif">
    <i>"We explore, we discover, we love what we do with passion, Mere work cant accomplish that!"</i></p>
    <p>~ Bruce Armstrong</p>
  </div> 
</main>